$synapse: (
  columns: 12,
  layouts: (
        sm:  $mobile-h-screen, 
        md:  $tablet-screen,
        lg: $desktop-screen,
        xlg: $huge-screen
    ),
  spaceUnits: (
      $small-spacing, 
      $base-spacing, 
      ($base-spacing * 2), 
      ($base-spacing * 3), 
      ($base-spacing * 4)
    ),
  side-margin: $base-spacing
);

body {
  @include syn(sm, 12, 0, ('pad-1'));
	@include syn(md, 10, 1, ('pad-0'));
	@include syn(lg, 8, 2, (''));
}

@include block('element') {
  color: red;

  @include child('child') {
    color: blue;
  }
}

// @include generate-padding();
// @include generate-margin();