$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  gutter-position: split,
);

html {
	@include container(95%);
}

body {
	@include susy-media($tablet-screen) {
		@include span(10);
		@include push(1)
	}
}