.sliding-panel-content {  
  $sliding-panel-width: 220px;

  @include position(fixed, 0 auto 0 0);
  @include size($sliding-panel-width 100%);
  @include transform(translateX(- $sliding-panel-width));
  @include transition(all 0.25s linear);
  background: #fff;
  @include padding($small-spacing);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  z-index: z-index(modal);
  opacity: 0;

  &.is-visible {
    @include transform(translateX(0));
    opacity: 1;
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0 0 0 0);
  @include transition;
  background: #000;
  opacity: 0;
  visibility: hidden;
  z-index: z-index(overlay);

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-close {
  cursor: pointer; // Why isn't this working?
  z-index: z-index(modal);
}

// Based on code by Diego Eis