@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
      
      display: inline-block;
      margin: $small-spacing;
    
    }
  }
}

@include sprites($spritesheet-sprites);