// ----- Grid Variables ----- //

/// These are the core breakpoints for the grid. They use the values in the breakpoint lengths map to determine the breakpoints. This, along with other grid functionality, uses the Neat dependency.
/// @group Grid
$mobile-screen: new-breakpoint(min-width 320px);
$mobile-h-screen: new-breakpoint(min-width 480px);
$tablet-screen: new-breakpoint(min-width 787px);
$desktop-screen: new-breakpoint(min-width 900px);
$huge-screen: new-breakpoint(min-width 1200px);