// ----- Color Variables ----- //

/// This map is the array of standard colors for the project. Uses the Color function to reference them throughout the stylesheet. For colors that are frequently changing values, key names that aren't colors are recommended over literal names (such as the name 'cute' instead of pink).
/// @type Map
/// @group Colors
/// @see color
$colors: (
  white: #fff,
  blue: #477dca,
  dark-gray: #333,
  medium-gray: #999,
  light-gray: #ddd
);

/// This is the base color for all fonts, including headers. The color value is pulled through the color function.
/// @type Color
/// @group Colors
/// @see colors
$base-font-color: color(dark-gray);

/// This is the base color any text that is interactive and will create a change somehow, like clicking on a link. Color is pulled from a map.
/// @type Color
/// @group Colors
/// @see colors
$action-color: color(blue);

/// For any elements requiring borders, such as panels, this will be the standard border color.
/// @type Color
/// @group Colors
/// @see colors
$base-border-color: color(light-gray);

/// This is the base border style, including its color and thickness.
/// @type Values
/// @group Layout
/// @see colors
$base-border: 1px solid $base-border-color;

// Background Colors
/// Standard background color for the whole project. Light colors are recommended.
/// @type Color
/// @group Colors
/// @see colors
$base-background-color: color(white);

/// A tinted version of the standard background color. Slightly darker than the base one.
/// @type Color
/// @group Colors
/// @see colors
$secondary-background-color: tint($base-border-color, 75%);