table {
  border-collapse: collapse;
  font-feature-settings: 'kern', 'liga', 'tnum';
  margin: spacing(half) 0;
  table-layout: fixed;
  width: 100%;
}

th {
  padding: spacing(half) 0;

  text-align: left;
  font-weight: type(font-weight, bold);

  border-bottom: container(border, dark);
}

td {
  border-bottom: spacing();
  padding: spacing(half) 0;
}

tr,
td,
th { vertical-align: middle; }
