// The base typography elements
body {
  @include font-size(1);
  @include line-height(1);

  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: 'kern', 'liga', 'pnum';
}


// This generates the font sizes based on modular scale so they're consistent and easy to manage.
@each $key, $value in $modular-size-map {
  $main-font-size: modular-scale($value);
  $scaled-font-size: $main-font-size * $scaled-font-ratio;

  #{$key} {
    font-size: $scaled-font-size;
    font-size: rem($scaled-font-size);

    @include bp($scaled-breakpoint) {
      font-size: $main-font-size;
      font-size: rem($main-font-size);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include line-height(2);
  @include margin-top(2);
  @include margin-bottom(1);

  font-family: $heading-font-family;

  // For headers in a condensed or small area with less room for spacing
  &.no-marg {
    @include margin-top(0.5);
    @include margin-bottom(0.5);

    @include line-height(1.5);
  }
}

h1 + h2 { @include margin-top(1); }

h2 + h3,
h3 + h4,
h4 + h5 { @include margin-top(0.5); }

h5 + h6 { @include margin-top(-0.5); }

p { @include margin-bottom(1); }

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover { color: shade($action-color, 25%); }
}

hr {
  @include margin-top(1);
  @include margin-bottom(1);

  border: $base-border 0 0 0;
}

strong { font-weight: 700; }

em { font-style: italic; }

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  @include syn(xs, 0, 0, (marg-0 marg-t-1 marg-b-2 align-c border-b));
  @include syn(sm, 10, 0, (margin-auto));
  @include syn(md, 6, 0, (marg-0 marg-l-2 float-r));
  @include syn(lg, 4, 0, (''));

  @include padding($small-spacing $base-spacing);

  border-top: $base-border;
  border-bottom: $base-border;
}
