// The base typography elements
body {
  font-size: type(font-size);
  line-height: type(line-height);

  color: color(mono, black);
  font-family: type(font-family);
  font-feature-settings: 'kern', 'liga', 'pnum';
}

$header-list: h1, h2, h3, h4, h5, h6;

@each $header in $header-list {

  #{$header} {
    @include margin(type(margin, $header) null);

    font-size: type(font-size, $header);
    line-height: type(line-height, $header);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 { font-family: type(font-family, header); }

p { margin-bottom: type(margin); }

a {
  @include transition(anim(time));
  color: color(action);
  text-decoration: none;

  @include hovers() {
    @include transition(anim(time));
    color: color(action, hover);
  }
}

hr {
  @include margin(type(margin) null);

  border: container(border) 0 0 0;
}

strong { font-weight: type(font-weight, bold); }

em { font-style: italic; }

blockquote {
  @include syn(base, 0, 0, (marg-0 marg-t-1 marg-b-2 pad-2 align-c border-b));
  @include syn(small, 10, 0, (center-m));
  @include syn(medium, 6, 0, (marg-0 marg-l-2 float-r));
  @include syn(large, 4, 0, (''));

  font-size: type(font-size, h6);

  border-top: container(border, thick);
  border-bottom: container(border, thick);
}
