/// This is the Functions page

/// Use this helper function to easily get the colors
/// @param {string} $color - The color from the Colors map to be used.
/// @group Colors
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
 
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

/// For using organized z-index values
/// @param {string} key - The common element connected to each z-value.
/// @group Layout
/// @see z-layers
@function z-index($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }
 
  @warn "Unknown `#{$key}` in $z-layers.";
  @return null;
}