// Typography
$base-font-family: $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$base-font-scale: 0;

// Line height
$base-line-height: 1.6;
$heading-line-height: 1.1;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$colors: (
  white: #fff,
  blue: #477dca,
  dark-gray: #333,
  medium-gray: #999,
  light-gray: #ddd
);
 
// Typography Components
$modular-scale-ratio: $minor-third;
$modular-scale-base: $base-font-size;
$scaled-font-ratio: .9;

// Font Colors
$base-font-color: color(dark-gray);
$action-color: color(blue);

// Border
$base-border-color: color(light-gray);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: color(white);
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// z-index layers
$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);

// Neat Grid Breakpoints
// @import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails
// @import "../../../../neat/app/assets/stylesheets/neat-helpers";

// Neat Breakpoints
$mobile-screen: 320px;
$mobile-h-screen: 480px;
$tablet-screen: 787px;
$desktop-screen: 900px;
$huge-screen: 1200px;

$mobile-screen-up: new-breakpoint(min-width $mobile-screen);
$mobile-h-screen-up: new-breakpoint(min-width $mobile-h-screen);
$tablet-screen-up: new-breakpoint(min-width $tablet-screen);
$desktop-screen-up: new-breakpoint(min-width $desktop-screen);
$huge-screen-up: new-breakpoint(min-width $huge-screen);